*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
h1{
    color: red;
    padding: 10px;
}
img{
    width: 350px;
}

#style{
    width: 350px;
}
p{
   text-align: justify;
   width: 350px;
   margin: 0 auto;
   padding: 10px;
   line-height: 1.3em;
   
}
span{
    color: red;
}
div>p>span{
    color:rgb(255, 0, 111);
}
#valor{
    color:darkcyan;
    font: 300;
}